
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #0b0913;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: 100% 1fr;
  gap: 40px;
  padding: 40px;
  min-height: 100vh;
}

.sidebar {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.logo {
  font-size: 25px;
  font-weight: 700;
  padding-bottom: 10px;
}

.logo-img{
  width: 25px;
  margin-right: 10px;
}

.profile-image img {
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
}

.d-row-a{
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 50px;
  justify-content: center; 
}

.d-row-b{
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
}

.about-card,
.project-card,
.contact-form,
.contact-info,
.resume-item,
.skill-box {
  background: #171420;
  border: 1px solid rgba(255,255,255,0.05);
  border-radius: 18px;
}

.about-card {
  padding: 25px;
  margin: 50px 0px;
  height: 380px;
}

.about-card h3,
.resume-grid h3,
.contact-info h3 {
  margin-bottom: 20px;
}

.about-card p {
  color: #b8b8c7;
  line-height: 1.8;
  margin-bottom: 20px;
  white-space: nowrap;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  color: #b8b8c7;
}

.hero{
  margin-top: 0px;
}

.hero h1 {
  font-size: 40px;
  margin: ;
}

.hero p,
.role {
  color: #b8b8c7;
}

.hero-buttons {
  display: flex;
  gap: 15px;
  margin-top: 25px;
}

.hero-buttons button,
.contact-form button,
.tab-btn {
  border: none;
  cursor: pointer;
}

.hero-buttons button {
  background: transparent;
  border: 1px solid #6f5bd6;
  color: #fff;
  padding: 12px 18px;
  border-radius: 10px;
}

.tabs-content{
  width: 100%;
}

.tabs {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 40px 0 30px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  justify-content: space-between; 
}

.tab-btn {
  background: transparent;
  color: #b8b8c7;
  padding: 15px 30px;
  font-size: 16px;
}

.tab-btn.active {
  color: #fff;
  border-bottom: 3px solid #a78bfa;
}

.tab-content {
  display: none;
}

.tab-content.active {
  display: block;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project-card {
  overflow: hidden;
  padding-bottom: 20px;
}

.project-card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.project-card span,
.project-card h3 {
  padding: 0 20px;
}

.project-card span {
  display: block;
  color: #9f9fb0;
  margin-top: 15px;
}

.project-card h3 {
  margin-top: 10px;
}

.resume-grid,
.contact-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.resume-item,
.contact-info,
.contact-form {
  padding: 20px;
  margin-bottom: 20px;
}

.contact-info p{
  margin-bottom: 10px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px;
}

.skill-box {
  padding: 16px;
  text-align: center;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  background: #0f0d16;
  border: 1px solid rgba(255,255,255,0.1);
  border-radius: 10px;
  padding: 20px;
  padding-left: 10px;
  color: #fff;
}

.contact-form button {
  background: #a78bfa;
  color: #fff;
  padding: 14px;
  border-radius: 10px;
}

@media (max-width: 992px) {
  .container,
  .resume-grid,
  .contact-grid,
  .projects-grid {
    grid-template-columns: 1fr;
  }
  
  .container{
    padding: 15px;
  }
  
  .profile-image img {
  width: 170px;
  height: 170px;
  border-radius: 50%;
  object-fit: cover;
  }
  
  .about-card{
    font-size: 14px;
    height: 100%;
    width: 100%;
  }
  
  
  
  .d-row-a{
  display: flex;
  flex-direction: column;
  }
  
  .d-row-b{
  display: flex;
  flex-direction: column;
  }

  .hero h1 {
    font-size: 38px;
  }
  
  .hero p,.role {
    color: #b8b8c7;
  }
  
  .hero p {
    font-size: 13px;
  }
  
  .hero{
    margin-top: 5px;
  }
  
  .hero-buttons {
    display: flex;
    flex-direction: row;
    width: 80%;
  }
  
  .hero-buttons button{
    font-size: 11px;
    white-space: nowrap;
    padding: 10px;
  }
  
  .tabs {
  display: flex;
  margin: 10px;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  }
  
  .tab-btn {
  background: transparent;
  color: #b8b8c7;
  padding: 15px 20px;
  font-size: 16px;
  }
  
  .project-card {
  overflow: hidden;
  padding-bottom: 20px;
  } 
 
}
